@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;500;600;700&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}
@media (prefers-color-scheme: dark) {
  .rc-slider-handle {
    border-color: rgba(163, 230, 53, 1) !important;
  }
  .rc-slider-track {
    background-color: rgba(163, 230, 53, 1) !important;
  }
  .rc-slider-dot-active {
    border-color: rgba(163, 230, 53, 1) !important;
  }
}
@media (prefers-color-scheme: light) {
  .rc-slider-handle {
    border-color: rgba(101, 163, 13, 1) !important;
  }
  .rc-slider-track {
    background-color: rgba(101, 163, 13, 1) !important;
  }
  .rc-slider-dot-active {
    border-color: rgba(101, 163, 13, 1) !important;
  }
}
.rc-slider-mark-text {
  top: -2rem;
}
#volume-slider .rc-slider-disabled {
  background-color: transparent !important;
}
#volume-slider .rc-slider-disabled .rc-slider-track {
  background-color: #ddd !important;
}
#volume-slider .rc-slider-disabled .rc-slider-handle {
  border-color: #ddd !important;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


